extends ../layout

block content
	div.page-container
		div.page-content
			header.header-album(style="background: url(../img/album/bg-album.png) top no-repeat; background-size:cover;")
				div.header-album__content-cotainer
					div.header__section.header-album__content.header-album__content_front
						div.header-album__user-container
							div.header-album__user
								div.header-album__user-avatar
									img.header-album__user-photo(src="../img/album/album-user.png", alt="фото пользователя")
								div.header-album__user-name Антон Черепов 
						div.header-album__buttons
							div.btn.btn--light.btn--expand.btn_album
								svg.btn__icon
									use(xlink:href='/img/sprite.svg#home')
								span.btn__text На главную
							div.btn.btn--light.btn--expand.btn_album.btn_edit-header
								svg.btn__icon
									use(xlink:href='/img/sprite.svg#edit')
								span.btn__text Редактировать            
						div.header-album__description
							div.header-album__title-description Лесные прогулки
							div.header-album__text-description   Фотографии природы леса, енотов и оленей. Как прекрасно сойти на дальней станции и пройтись по полю босиком. И чтобы никто не беспокоил бродить влюблённым в тишину. Запах мёда, лесных оленей и енотов будоражит нутро.
					div.header-album__content.header-album__content_back
						div.header-album__user-container
							div.header-album__user
								div.header-album__user-avatar
									img.header-album__user-photo(src="../img/album/album-user.png", alt="фото пользователя")  
								div.header-album__user-name Антон Черепов        
						div.header-album__description
										div.form__row
											input.field.field_header-edit(
												type="text"
												name="nameAlbum"
												value="Лесные прогулки"
												)
										div.form__row
											textarea.field.field_header-edit(name="desc").
												Фотографии природы леса, енотов и оленей. Как прекрасно сойти на дальней станции и пройтись по полю босиком. И чтобы никто не беспокоил бродить влюблённым в тишину. Запах мёда, лесных оленей и енотов будоражит нутро.	
						.upload__header-edit
							.upload(title="Выбрать изображение")
								svg.upload__icon
									use(xlink:href='/img/sprite.svg#cam')
								.upload__text Изменить фон
								input.upload__input(type="file" name="bg")
    
				div.header-album__about
					.header__section.header__bottom.section.header-edit-bottom
						.header__part.header__right
							a.btn.btn--text#cancel_edit_header(href="#cancel")
								span.btn__text Отменить
							a.btn(href="#ok") Сохранить
					div.header-album__about-side.header-album__about-side_front.header-bottom-front
						ul.header-album__about-list
							li.header-album__about-item 18 фотографий
							li.header-album__about-item 12 лайков
							li.header-album__about-item 4 комментария
					div.header-album__about-side.header-album__about-side_back.hide
						div.back-content
							div.header-album__user-container.header-album__user_fix
								div.header-album__user
									div.header-album__user-avatar
										img.header-album__user-photo(src="../img/album/album-user.png", alt="фото пользователя")
									div.header-album__user-name Антон Черепов
							div.header-album__title-description Лесные прогулки
							div.header-album__buttons.header-album__buttons_fix
								div.btn.btn--light.btn--expand.btn_album
									svg.btn__icon
										use(xlink:href='/img/sprite.svg#home')
									span.btn__text На главную          
			div.album-cards
				div.header-edit-overlay
				div.btn.btn--light.btn--expand.btn_album.btn_album-add
					svg.btn__icon
						use(xlink:href='/img/sprite.svg#add')
					span.btn__text Добавить
				.grid.grid--lg
					- var imgs = ["im1", "im2", "im3", "im4", "im5", "im6", "im7"];
					for im in imgs
						.grid__item
							.photo-card
								a.photo-card__head(href="#404" style="background-image: url(../img/album/"+im+".png), url(../img/album/no_photo.jpg)")
									.photo-card__details
										.info.info--light
											.info__item
												svg.info__icon
													use(xlink:href='/img/sprite.svg#comments')
												span.info__text 2
											.info__item
												svg.info__icon
													use(xlink:href='/img/sprite.svg#like')
												span.info__text 10
									div.loupe
								.photo-card__foot
									.photo-card__foot-part
										a.btn.btn--icon(href="#404"  title="Редактировать")
											svg.btn__icon
												use(xlink:href='/img/sprite.svg#edit')
									.photo-card__foot-part
										.photo-card__link(href="#404") Название фотографии
		include ../commons/footer

	div.modal-overlay.hide
		div.modal.hide
			form.modal-content(method='post', action='', enctype='multipart/form-data')#upload
				div.modal__header
					div.modal__header-title Добавить фотографии
					div.modal__header-close
						svg.modal__header-svg
							use(xlink:href='/img/sprite.svg#close')
				div.modal__title
					span.modal__title-title Название
					span.modal__title-text Как я провёл лето
				.modal__load-container
					.upload.modal__load-img(title="Выбрать изображение")
						svg.upload__icon
							use(xlink:href='/img/sprite.svg#cam')
						.upload__text Перетащите фото сюда или
							span.modal__link-load выберите файл
						input#file.upload__input(type='file', name='files[]', data-multiple-caption='{count} files selected', multiple='')
					ul.img-list#img-list
						//button.box__button(type='submit') Upload
					.box__uploading Uploading…
					.box__success Done!
					.box__error
						| Error!
						span
						| .
					ul.img-list#img-list
			.modal__footer
				.modal-pane
					.modal-pane__part
						input(type="submit" value="Сохранить").btn(href="#404")#upload
						a.btn.btn--text(href="#cancel"  data-action="close")
							span.btn__text.btn-cancelLoad Отменить
					.modal-pane__part
						a.btn.btn--important
							svg.btn__icon
								use(xlink:href='/img/sprite.svg#delete')
							span.btn__text Удалить
			//- Модальное окно: slider
		.modal.modal--slider.hide#slider

			.modal__body
				.modal__section.modal__section--slider.slider
					.slider__close
						.modal__close.modal__header-close(data-action="close"  title="закрыть")
							svg.modal__close-icon
								use(xlink:href='/img/sprite.svg#close')

					.slider__view
						//.slider__item.slider__item--active
							img.slider__img(scr="../img/album/im1.png"  alt=""  style="width:100%; height: 400px; background: lightBlue;")
						//.slider__item.slider__item--loading
							img.slider__img(scr=""  alt=""  style="width:100%; height: 600px; background: lightCoral;")
						//.slider__item.slider__item--loading
							img.slider__img(scr=""  alt=""  style="width:100%; height: 400px; background: #123;")
						//.slider__item.slider__item--loading
							img.slider__img(scr=""  alt=""  style="width:100%; height: 600px; background: #ccc;")*/

					.slider__controls
						a.slider__control.slider__control--prev(href="#404")
							svg.slider__control-icon
								use(xlink:href='/img/sprite.svg#arrow_left')
						a.slider__control.slider__control--next(href="#404")
							svg.slider__control-icon
								use(xlink:href='/img/sprite.svg#arrow_right')

					.slider__content
						.slider__desc.photo-desc
							.photo-desc__head.pane
								.pane__part
									.user-block.user-block--sm
										.user-block__photo
										.user-block__main
											.user-block__name Анна Богданова

								.pane__part
									.btn.btn--like(data-like="not-like")
										svg.btn__icon
											use(xlink:href='/img/sprite.svg#no_like')
										span.btn__text 16

							.photo-desc__body
								.photo-desc__title Путешествие на речном трамвайчике
								p.photo-desc__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, labore.

						.slider__comments.comments.comments--show
							.comments__toggle Комментарии
							ul.comments__list
								li.comments__item.comment.comment--add
									.comment__ava
									.comment__author Антон Черепанов
									textarea.comment__input.field.field--bordered(placeholder="Добавить комментарий")
									a.comment__btn.btn.btn--clear(href="#404")
										span.btn__text Добавить

								li.comments__item.comment
									.comment__ava
									.comment__author Антон Черепанов
									.comment__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut doloribus voluptas, blanditiis?

								li.comments__item.comment
									.comment__ava
									.comment__author Татьяна Летвинова
									.comment__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut doloribus voluptas, blanditiis?