// Данный файл являеться тестовым, нужен лишь для тестирования регистрации

script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
script(type='text/javascript').
		$(document).ready(function(){
			var $form = $('#reg');
			var $button = $form.find("button");


			$button.on('click', function(e){
				e.preventDefault();
				var $this = $(this);
				var $thisForm = $this.closest('#reg');
				var $inputs = $thisForm.find('input');
				var $name = $thisForm.find('input[name = login]');
				var $email = $thisForm.find('input[name = email]');
				var $pass = $thisForm.find('input[name = pass]');

				var sendObg = {
					login : $name.val(),
					email : $email.val(),
					pass : $pass.val()
				}
				
				var xhr = new XMLHttpRequest();
				xhr.open('POST', '/reg/');
				xhr.setRequestHeader('Content-type','application/json');
				xhr.send(JSON.stringify(sendObg));
	      //$inputs.val('');
	      xhr.onreadystatechange = function() {
	      	if (xhr.readyState != 4) return;
	      	if (xhr.status == 200){
	      		alert(JSON.parse(xhr.responseText).message);
	      	}
	      }

			})

		})
	


form#reg(method="POST")
	input(type="text" name="login" placeholder="Имя")
	br
	input(type="text" name="email" placeholder="Электронная почта")
	br
	input(type="password" name="pass" placeholder="Пароль")
	br
	button(type="submit") Зарегистрироваться