//- Created by Anton on 25/10/2016.
include ../layout
header.user__header
    section.user__header__top
        div.user__header__top__avatar
            img.user__header__top__avatar__img(src="../img/user/user_avatar.png" alt="avatar")
        div.user__header__top__breef
            h1.user__header__top__breef__title.
                Александра Соколова
            p.user__header__top__breef__subtitle.
                Я веб разработчик разработчик. Мне 24 года. Люблю путешествия, кодинг, фриланс, и активный отдых.
            div.user__header__top__breef__social-buttons
        div.user__header__top__button-home
    section.user__header__search
        input.user__header__search__input(type='text' placeholder="Исследовать мир")
main.user__main
    h2.user__main__title
    div.user__main__albums
        div.user__main__albums__item
            img.user__main__albums__item__img(src="../img/user/user_mountain.png" alt="mountain")
            div.user__main__albums__item__name.
                Поход в горы
        div.user__main__albums__item
            img.user__main__albums__item__img(src="../img/user/user_dog.png" alt="dog")
            div.user__main__albums__item__name.
                Животные
        div.user__main__albums__item
            img.user__main__albums__item__img(src="../img/user/user_boat.png" alt="boat")
            div.user__main__albums__item__name.
                Прогулки на лодке
        div.user__main__albums__item
            img.user__main__albums__item__img(src="../img/user/user_sea.png" alt="sea")
            div.user__main__albums__item__name.
                Море и серфинг
        div.user__main__albums__item
            img.user__main__albums__item__img(src="../img/user/user_caves.png" alt="caves")
            div.user__main__albums__item__name.
                Ущелья и горные хребты
        div.user__main__albums__item
            img.user__main__albums__item__img(src="../img/user/user_forest.png" alt="forest")
            div.user__main__albums__item__name.
                Лесной выезд
footer.user__footer
    div.user__footer__wrap
        p.user__footer__wrap__text-left.
            Перед вами сервис, который поможет вам организовать свои фотографии в альбомы и поделиться со всем миром!
        div.user__footer__wrap__arrow
        p.user__footer__wrap__text-right.
            2016 | Создано командой профессионалов на продвинутом курсе по веб разработке от Loftschool
