//- Created by Anton on 25/10/2016.
include ../layout

block content
    include  ../commons/header
    main.user__main
        h2.user__main__title
        div.user__main__albums
    include  ../commons/footer