//- Created by Anton on 25/10/2016.
include ../layout

block content
    //include  ../commons/header
    main.user
        h2.title.
            Альбомы
        div.albums
    //include  ../commons/footer