//- Created by Anton on 25/10/2016.
include ../layout

block content
    include  ../commons/header
    main.user__main
        h2.user__main__title
        div.user__main__albums
            div.user__main__albums__item
                img.user__main__albums__item__img(src="../img/user/user_mountain.png" alt="mountain")
                div.user__main__albums__item__name.
                    Поход в горы
            div.user__main__albums__item
                img.user__main__albums__item__img(src="../img/user/user_dog.png" alt="dog")
                div.user__main__albums__item__name.
                    Животные
            div.user__main__albums__item
                img.user__main__albums__item__img(src="../img/user/user_boat.png" alt="boat")
                div.user__main__albums__item__name.
                    Прогулки на лодке
            div.user__main__albums__item
                img.user__main__albums__item__img(src="../img/user/user_sea.png" alt="sea")
                div.user__main__albums__item__name.
                    Море и серфинг
            div.user__main__albums__item
                img.user__main__albums__item__img(src="../img/user/user_caves.png" alt="caves")
                div.user__main__albums__item__name.
                    Ущелья и горные хребты
            div.user__main__albums__item
                img.user__main__albums__item__img(src="../img/user/user_forest.png" alt="forest")
                div.user__main__albums__item__name.
                    Лесной выезд

    include  ../commons/footer