.ui {}

	.ui-components {
		min-height: 100%;
		padding: 20px;
		background: lightBlue;
	}

		.ui-section {
			margin-bottom: 50px;
			padding: 20px;
			outline: 1px dashed #333;

			&:last-child {
				margin-bottom: 0;
			}
		}

			.ui-title {
				margin-bottom: 30px;
				font: bold 20px/1.5 Panton, sans-serif;
			}