.page-container{
	display:flex;
	flex-direction:column;
	overflow:hidden;
	min-height:100vh;
}
.page-content{
	flex:1;
}
.header-album{
	min-height: 300px;
	display:flex;
	flex-direction: column;
	box-shadow: inset 100vw 0px 0px 0px rgba(0, 0, 0, 0.5);
	overflow:hidden;
	position:relative;
}
.header-album__content-cotainer{
	flex:1;
	position:relative;
}
.header-album__content{
	position:absolute;
	display:flex;
	top:0;
	left:0;
	height:100%;
	width:100%;
}
.header-album__content_back{
	top:-100%;
	transition: top 0.5s;
	//transform:translateY(-100%);
	//transition: transform 0.5s;
	box-shadow: inset 100vw 0px 0px 0px rgba(0, 0, 0, 0.5);
}
.field_header-edit{
	width:100%;
}
.upload__header-edit{
	display:flex;
	align-items:center;
	color: rgba(255,255,255,0.8);
	position: absolute;
	right: 40px;
	height: 100%;
}
.header-edit-bottom{
	transition: transform 0.5s;
	transform:translateY(100%);
	padding: 0;
	align-items:center;
	height: 100%;
	max-width:100%;
}
.header-edit-overlay{
	position:absolute;
	top: 0;
	bottom: 0;
	width:200%;
	background-color: rgba(255,255,255,0.8);
	z-index:9;
	display:none;
}
.upload__header-edit .upload__icon{
	fill: rgba(255,255,255,0.8);
}
.header-album__user-container{
	position:absolute;
	top:10px;
	left:85px;
}
.header-album__user{
	display: flex;
	color:#fff;
	align-items:center;
}
.header-album__user-avatar{
	border: 3px solid #fff;
	border-radius: 50%;
	width:56px;
	height:56px;
	margin-right: 20px;
}
.header-album__user-photo{
	width:100%;
}
.header-album__user-name{
	font-family: Panton, sans-serif;
}
.header-album__buttons{
	position:absolute;
	display:flex;
	flex-direction: column;
	right:40px;
	top:20px;
	align-items: flex-end;
}
.btn_album{
	margin-bottom: 10px;
	margin-right: 0;
}
.btn_album-add{
	position: absolute;
	top:20px;
	right:40px;
	z-index:8;
}
.btn_album-main-add{
	position: absolute;
	top:20px;
	right:40px;
	z-index:8;
}
.header-album__description{
	margin:auto;
	text-align:center;
	flex-basis: 60%;
	color:#fff;
	font-size: 16px;
}
.header-album__text-description{
	opacity:0.8;
}
.header-album__title-description{
	font: 600 21px ProximaNova, sans-serif;
	margin-bottom: 20px;
}
.header-album__about{
	position: relative;
	height:60px;
}
.header-album__about-side{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:60px;
	z-index:1000;
}
.back-content{
	display:flex;
	justify-content:space-around;
	align-items:center;
	position:relative;
	background-color: rgba(255,255,255,0.85);
	height:100%;
}
.back-content .header-album__title-description{
	color:#323232;
	margin-bottom: 0;
}
.back-content .btn_album{
	margin-bottom: 0;
}
.back-content  .header-album__user-name{
	color:#323232;
}
.header-album__buttons_fix{
	top:50%;
	margin-top:-20px;
}
.header-album__user_fix{
	top:5px;
}
.fixedHeader{
	position: fixed;
	top:0;
}
.header-album__about-list{
	height:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	background-color: rgba(255, 255, 255, 0.85);
}
.header-album__about-item{
	margin-right: 40px;
}
.album-cards{
	padding:60px;
	position:relative;
}
.photo-card__img{
	display:block;
	width:100%;
}
.fixed{
	position:fixed;
	top:20%;
	z-index:1000;
	right:40px;
}

.img-list{
	display: flex;
	flex-wrap: wrap;
	padding:20px;
}
.img-list li{
	margin-right: 20px;
	margin-bottom: 20px;
	position: relative;
	pointer-events: none;
}
.img-list li:before{
	content: '';
	display: block;
	width: 28px;
	height: 28px;
	border: 4px solid #fff;
	border-radius:50%;
	background-color:#ee4634;
	position:absolute;
	right: -14px;
	top:-14px;
	background: #ee4634 url(../img/album/close.svg) center center no-repeat;
	background-size: 50%;
	cursor:pointer;
	pointer-events: all;
}
.img-list li:nth-child(4n){
	//margin-right: 0;
}
.img-cont{
	width:135px;
	height:135px;
	overflow:hidden;
	border-radius:5px;
	//background-color: #FFF;
	//object-fit: cover;
	background-image: url(../img/album/no_photo.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.img-cont img{
	display:block;
	width:100%;
}
.highlighted {
	border: 3px dashed #9b9b9b;
}


// FOR USER
.header__section_user{
	margin: auto;
	max-width:100%;
}
.header__bottom_user{
	margin: auto;
	max-width:100%;
}
.header-user:before{
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgb(255, 255, 255) 100%);
}
.albums-container{
	margin: 0 auto;
	max-width:1300px;
	padding:60px;
}
.title-albums{
	font: 42px Panton, sans-serif;
	color: #323232;
	margin-bottom: 40px;
}
.footer__in{
	margin:auto;
}



// new upload
.box {
	width: 100%;
	height: 100%;
	font-size: 1.25rem;
	background-color: #c8dadf;
	position: relative;
	padding: 100px 20px;
}

.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
	display: none;
}

.box.has-advanced-upload {
	outline: 2px dashed #92b0b3;
	outline-offset: -10px;

	transition: outline-offset .15s ease-in-out, background-color .15s linear;
}
.box.has-advanced-upload .box__dragndrop {
	display: inline;
}

.box.is-dragover {
	background-color: grey;
}

.box.is-uploading .box__input {
	visibility: hidden;
}
.box.is-uploading .box__uploading {
	display: block;
}
// Модальное окно для редактирвания картинки
.modal_edit-photo{
	//height:400px;
}
.modal__form-container{
	padding:40px;
}
.modal__form{
	display:flex;
	flex-direction:column;
	width:100%;
}
.modal__form-row{
	display:flex;
	align-items:center;
	margin-bottom: 30px;
}
.modal__form-label{
	flex-basis:100px;
	text-align:right;
	margin-right: 20px;
	color: #323232;
	font: 600 16px ProximaNova, sans-serif;
}
.modal__form-input{
	flex-grow:1;
	border: 1px solid #d8d6d6;
}
// Для слайдера
.loupe{
			content: '';
			position: absolute;
			left: 0;  right: 0;
			top: 0;  bottom: 0;
			width:  40px;
			height: 40px;
			margin: auto;
			background: url('../img/icons/loupe.svg')  no-repeat;
			opacity: 0;
			transition: opacity .5s;
		}

.photo-card__head:hover .loupe{
	opacity:0.9;
}
.slider__img{
	width:100%;
}

// Для оповещений

.modal_notification{
	min-height:140px;
	width:280px;
	text-align: center;
}
.modal_notification .modal-content{
	padding: 30px 20px;
	font: 600 16px ProximaNova, sans-serif;
}