.search__header {
  width: 100%; }
  .search__header__title {
    width: 100%;
    height: 80px;
    font-family: "Panton";
    font-size: 42px;
    font-weight: bold;
    line-height: 0.5;
    color: #323232;
    display: flex;
    justify-content: center;
    align-items: center; }
  .search__header__search {
    padding: 0 5%;
    width: 97.5%;
    height: 60px;
    opacity: 0.85;
    display: flex;
    background-color: #f6f6f6;
    display: flex;
    align-items: center; }
    .search__header__search__avatar {
      min-width: 50px;
      max-width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 30px;
      border: 3px solid #ffffff; }
      .search__header__search__avatar__img {
        height: 100%;
        margin-left: -30%; }
    .search__header__search__user-name {
      font-size: 16px;
      font-family: "Panton";
      color: #323232;
      font-weight: bold;
      line-height: 1.313;
      margin-right: 185px; }
    .search__header__search__show-more {
      cursor: pointer;
      text-decoration: none;
      font-size: 16px;
      font-family: "ProximaNova";
      color: rgba(40, 187, 240, 0.8);
      line-height: 1.313;
      border: none;
      background: none; }

.search__main__title {
  font-size: 21px;
  font-family: "ProximaNova";
  font-weight: 600;
  line-height: 1;
  color: #323232;
  margin: 60px 0 40px 2.5%; }
.search__main__albums {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; }
  .search__main__albums__container {
    border-radius: 2px;
    overflow: hidden;
    margin: 0 0 2% 2.5%;
    max-width: 380px;
    width: 30%;
    height: 380px;
    border-radius: 1.5px;
    background-color: #ffffff;
    box-shadow: 0 0.5px 2px 0 rgba(0, 0, 0, 0.15);
    position: relative; }
    .search__main__albums__container__wrap-img {
      height: 250px;
      width: 100%;
      position: relative;
      z-index: 10;
      overflow: hidden; }
      .search__main__albums__container__wrap-img::before {
        width: 100%;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        transition: .5s;
        background-position: 50% 50%; }
      .search__main__albums__container__wrap-img:hover::before {
        background: rgba(0, 0, 0, 0.5) url("../img/icons/loupe.svg") no-repeat;
        background-position: 50% 50%; }
      .search__main__albums__container__wrap-img__img {
        height: 100%;
        cursor: pointer;
        width: 100%;
        z-index: 0; }
    .search__main__albums__container__comment {
      display: flex;
      padding: 5%; }
      .search__main__albums__container__comment__avatar {
        cursor: pointer;
        min-width: 50px;
        max-width: 50px;
        overflow: hidden;
        height: 50px;
        margin-right: 5%;
        background: url("../img/search/search_avat_01.png") no-repeat;
        background-size: cover;
        border-radius: 50%;
        position: relative; }
        .search__main__albums__container__comment__avatar::before {
          width: 100%;
          content: '...';
          font-size: 20px;
          color: transparent;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          width: 100%;
          height: 100%;
          transition: .5s;
          background-position: 50% 50%; }
        .search__main__albums__container__comment__avatar:hover::before {
          color: #ffffff;
          background: rgba(0, 0, 0, 0.5); }
      .search__main__albums__container__comment__content {
        display: flex;
        flex-wrap: wrap;
        height: 90px; }
        .search__main__albums__container__comment__content__title {
          margin: 0;
          width: 100%;
          font-size: 16px;
          font-family: "ProximaNova";
          color: #323232; }
        .search__main__albums__container__comment__content .search__comments,
        .search__main__albums__container__comment__content .search__like {
          cursor: pointer;
          margin-top: 5px; }
          .search__main__albums__container__comment__content .search__comments path,
          .search__main__albums__container__comment__content .search__like path {
            fill: #d6d6d6; }
        .search__main__albums__container__comment__content__count, .search__main__albums__container__comment__content__like {
          margin-top: 0;
          margin-left: 5%;
          width: 10%;
          font-size: 16px;
          font-family: "Panton";
          color: rgba(50, 50, 50, 0.8);
          line-height: 1.5; }
    .search__main__albums__container__album-title {
      width: 100%;
      height: 40px;
      background-color: #f6f6f6;
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      .search__main__albums__container__album-title__text {
        margin: 0 21px 0 0;
        font-size: 16px;
        font-family: "ProximaNova";
        color: rgba(50, 50, 50, 0.8);
        line-height: 1.5; }
      .search__main__albums__container__album-title__albums {
        cursor: pointer;
        margin-right: 3%;
        fill: #c5c5c5; }

.user__footer {
  background: url("../img/user/user_footer.png") no-repeat 50% 100%;
  background-size: cover;
  position: relative; }
  .user__footer__wrap {
    background: rgba(49, 48, 49, 0.9);
    width: 90%;
    height: 100%;
    display: flex;
    padding: 0 5%; }
    .user__footer__wrap__text-left {
      font-size: 16px;
      font-family: "ProximaNova";
      color: white;
      line-height: 1.5;
      z-index: 6;
      width: 40%; }
    .user__footer__wrap__arrow {
      display: flex;
      align-items: center;
      width: 10%;
      position: absolute;
      left: 45%;
      top: 9%;
      opacity: .6;
      cursor: pointer; }
      .user__footer__wrap__arrow:hover {
        opacity: 0.9;
        transition: .5s; }
    .user__footer__wrap__text-right {
      font-size: 16px;
      font-family: "ProximaNova";
      color: rgba(255, 255, 255, 0.4);
      line-height: 1.5;
      text-align: right;
      z-index: 5;
      width: 40%;
      margin-left: 15%; }

/*# sourceMappingURL=_search.css.map */
