.header {
  height: 300px;
  width: 100%;
  background: url("../img/user/user_header.png") no-repeat;
  background-size: cover; }
  .header__top {
    background: linear-gradient(to right, rgba(101, 101, 108, 0.5), rgba(246, 247, 252, 0.5));
    display: flex;
    align-items: center;
    height: 240px; }
    .header__top__avatar {
      width: 7.5rem;
      height: 7.5rem;
      border-radius: 50%;
      overflow: hidden;
      border: 2px solid #ffffff;
      margin: 0 0 0 6%;
      min-width: 120px; }
    .header__top__breef {
      display: flex;
      flex-direction: column;
      margin-left: 3%; }
      .header__top__breef__title {
        font-size: 21px;
        font-family: "Panton";
        color: white;
        font-weight: bold;
        line-height: 1;
        z-index: 65; }
      .header__top__breef__subtitle {
        font-size: 16px;
        font-family: "ProximaNova";
        color: rgba(255, 255, 255, 0.8);
        line-height: 1.5;
        z-index: 64; }

.header__search {
  height: 60px;
  background: rgba(229, 229, 229, 0.9);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10%; }

.header__search__wrap {
  width: 70%; }
  .header__search__wrap::before {
    content: ' ';
    position: absolute;
    width: 15px;
    height: 15px;
    background: url("../img/icons/search.svg") no-repeat;
    margin: 15px 0 0 15px;
    opacity: .8; }
  .header__search__wrap__input {
    padding-left: 20%;
    font-size: 16px;
    font-family: "ProximaNova";
    color: rgba(50, 50, 50, 0.6);
    line-height: 1.313;
    z-index: 53;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px; }

.button-home {
  position: absolute;
  top: 20px;
  right: 40px;
  background: #fff;
  width: 30px;
  height: 40px;
  border-radius: 20px;
  box-shadow: -1px 1px 2px 2px #d1d2d6;
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
  align-items: center;
  cursor: pointer;
  transition: 1s; }
  .button-home:hover {
    width: 120px;
    background: #28bbf0; }
  .button-home__hover {
    margin-left: 30px;
    opacity: 0;
    transition: 1s;
    font-size: 14px;
    font-family: "Panton";
    color: white;
    font-weight: bold;
    line-height: 1.5;
    z-index: 74;
    width: 100px;
    position: absolute; }
  .button-home__inner__path {
    fill: #a0a09f;
    transition: 1s; }

.social-buttons__link {
  text-decoration: none; }
  .social-buttons__link svg {
    cursor: pointer; }
    .social-buttons__link svg path {
      fill: rgba(255, 255, 255, 0.7); }
    .social-buttons__link svg:hover path {
      transition: .5s;
      fill: white; }

.user {
  padding: 60px 0 60px 2%; }
  .user .title {
    font-size: 42px;
    font-family: "Panton";
    color: #323232;
    font-weight: bold;
    line-height: 0.5;
    z-index: 11; }
  .user .albums {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto; }
    .user .albums__item {
      width: 23%;
      height: 320px;
      overflow: hidden;
      margin: 0 2% 20px 0;
      border-radius: 2px;
      box-shadow: 1px 2px 2px 2px #eee;
      cursor: pointer;
      position: relative; }
      .user .albums__item__img {
        height: 100%; }
  .user .hover {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0; }
    .user .hover__comment {
      font-size: 16px;
      font-family: "ProximaNova";
      color: white;
      line-height: 1.5;
      z-index: 17;
      margin: 150px 0 0 20px; }
    .user .hover__count {
      font-size: 16px;
      font-family: "ProximaNova";
      color: white;
      line-height: 1.5;
      z-index: 18;
      margin-left: 20px; }
    .user .hover:hover {
      background: rgba(0, 0, 0, 0.5);
      transition: .5s;
      opacity: 1; }
  .user .name {
    font-size: 16px;
    font-family: "ProximaNova";
    color: #323232;
    z-index: 43;
    height: 50px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10%;
    bottom: 0;
    width: 90%;
    background: #ffffff; }

.user__footer {
  background: url("../img/user/user_footer.png") no-repeat 50% 100%;
  background-size: cover;
  position: relative; }
  .user__footer__wrap {
    background: rgba(49, 48, 49, 0.9);
    width: 90%;
    height: 100%;
    display: flex;
    padding: 0 5%; }
    .user__footer__wrap__text-left {
      font-size: 16px;
      font-family: "ProximaNova";
      color: white;
      line-height: 1.5;
      z-index: 6;
      width: 40%; }
    .user__footer__wrap__arrow {
      display: flex;
      align-items: center;
      width: 10%;
      position: absolute;
      left: 45%;
      top: 9%;
      opacity: .6;
      cursor: pointer; }
      .user__footer__wrap__arrow:hover {
        opacity: 0.9;
        transition: .5s; }
    .user__footer__wrap__text-right {
      font-size: 16px;
      font-family: "ProximaNova";
      color: rgba(255, 255, 255, 0.4);
      line-height: 1.5;
      text-align: right;
      z-index: 5;
      width: 40%;
      margin-left: 15%; }

@media screen and (max-width: 768px) {
  .user {
    padding: 60px 0 60px 2%; }
    .user .albums__item {
      min-width: 31%;
      width: 31%;
      height: 320px; }
      .user .albums__item .albums__name {
        font-size: 16px; } }
@media screen and (max-width: 480px) {
  .user {
    padding: 60px 2%; }
    .user .title {
      font-size: 42px; }
    .user .albums {
      display: flex;
      flex-direction: column; }
      .user .albums__item {
        min-width: 90%;
        width: 100%;
        height: 320px; }
        .user .albums__item__name {
          font-size: 16px; } }

/*# sourceMappingURL=_user.css.map */
