// Panton
@font-face {
  font-family: "Panton";
  src: url("../fonts/PantonBold/PantonBold.eot");
  src: url("../fonts/PantonBold/PantonBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/PantonBold/PantonBold.woff") format("woff"),
  url("../fonts/PantonBold/PantonBold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}


// ProximaNova
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNovaLight/ProximaNovaLight.eot");
  src: url("../fonts/ProximaNovaLight/ProximaNovaLight.eot?#iefix")format("embedded-opentype"),
  url("../fonts/ProximaNovaLight/ProximaNovaLight.woff") format("woff"),
  url("../fonts/ProximaNovaLight/ProximaNovaLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNovaLightItalic/ProximaNovaLightItalic.eot");
  src: url("../fonts/ProximaNovaLightItalic/ProximaNovaLightItalic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/ProximaNovaLightItalic/ProximaNovaLightItalic.woff") format("woff"),
  url("../fonts/ProximaNovaLightItalic/ProximaNovaLightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNovaSemibold/ProximaNovaSemibold.eot");
  src: url("../fonts/ProximaNovaSemibold/ProximaNovaSemibold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/ProximaNovaSemibold/ProximaNovaSemibold.woff") format("woff"),
  url("../fonts/ProximaNovaSemibold/ProximaNovaSemibold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}