.info {
	user-select: none;
}

	.info__item {
		display: inline-block;
		vertical-align: middle;
		margin-right: 15px;
		text-shadow: 1px 1px 0 rgba(0,0,0,.1);
		color: inherit;

		&:last-child {
			margin-right: 0;
		}
	}

		.info__icon {
			display: inline-block;
			vertical-align: middle;
			width:  20px;
			height: 20px;
			fill: currentColor;
			opacity: .2;
			transition:
				fill,
				opacity;
			transition-duration: .5s
		}

		.info__text {
			display: inline-block;
			vertical-align: middle;

			& + .info__icon,
			.info__icon + & {
				margin-left: 10px;
			}
		}



.info--light {
	color: $white;
}

	.info--light  .info__icon {
		opacity: .4;
	}