%clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}



// to rem [16px - base size fonts]
@function rem($px) {
  @return $px / 18px + 0rem;
}


// Adaptive
@mixin desctop {
  @media screen and (max-width: 1100px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: 960px) {
    @content;
  }
}

@mixin tablets {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin phones--lg {
  @media screen and (max-width: 600px) {
    @content;
  }
}

@mixin phones {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin phones--sm {
  @media screen and (max-width: 320px) {
    @content;
  }
}