section.section__news
	div.header-edit-overlay
	.container
		h1.main-content__title Новое в мире
		.news__list
			each album in mainPageData.albums
				.news__item
					.photo-card
						a.photo-card__head(href="#404")

						.photo-card__body
							.photo-details
								.photo-details__side
									a.photo-details__ava(href="#user")

								.photo-details__main
									.photo-details__title Название фотографии
									.photo-details__info.info
										.info__item
											svg.info__icon
												use(xlink:href='/img/sprite.svg#comments')
											span.info__text 2
										.info__item
											svg.info__icon
												use(xlink:href='/img/sprite.svg#like')
											span.info__text 10

						.photo-card__foot
							.photo-card__foot-part

							.photo-card__foot-part
								a.link.photo-card__link-album(href="#404")
									svg.link__icon
										use(xlink:href='/img/sprite.svg#album')
									.link__text Название альбома
		.news__button
			.btn.btn--clear Показать еще
section.section__album-cards
	div.btn.btn--light.btn--expand.btn_album.btn_album-add.btn_album-main-add
		svg.btn__icon
			use(xlink:href='/img/sprite.svg#add')
		span.btn__text Добавить
	.container
		h2.album-cards__title Мои альбомы
		.album-cards__list
			each album in mainPageData.albums
				.album-cards__item
					.album-card
						a.album-card__head(href="#404" style='background-image: url('+ album.cover +')')
							.album-card__info
								.album-card__title!= album.about
								.album-card__cnt Количество фотографий #{album.imageNumber}

						.album-card__foot
							.album-card__foot-part
								a.btn.btn--icon(href="#404"  title="Редактировать")
									svg.btn__icon
										use(xlink:href='/img/sprite.svg#edit')

							.album-card__foot-part
								a.album-card__link(href="#404")!= album.name