-var BG = backgroundIamge || '../img/album/no_photo.jpg';


footer.footer(style="background-image: url(" + BG + "), url(../img/album/no_photo.jpg)")
	.footer__in.section
		.footer__part.footer__desc.
			Перед вами сервис, который поможет вам организовать свои фотографии в альбомы и поделиться со всем миром!

		.footer__part.footer__part--zip
			a.btn.btn--icon.footer__btn-top(
				href="#top"
				data-go="top"
				title="К началу страницы"
			)
				svg.btn__icon
					use(xlink:href='/img/sprite.svg#top')

		.footer__part.footer__copyright.
			2016 | Создано командой профессионалов на продвинутом курсе по веб разработке от Loftschool