.header.header--edit
	.header__section.section
		.header__part
			.user-block.user-block--edit
				.user-block__photo
					.upload.user-block__photo-edit(title="Выбрать изображение")
						svg.upload__icon
							use(xlink:href='/img/sprite.svg#cam')
						.upload__text Изменить фото
						input.upload__input(type="file"  name="photo")

				.user-block__main
					.form__row
						input.field.width--lg(
							type="text"
							name="name"
							value="Александра Соколова"
						)
					.form__row
						textarea.field.width--lg(name="desc").
							Я веб разработчик разработчик. Мне 24 года. Люблю путешествия, кодинг, фриланс, и активный отдых.
					.form__row
						+social('edit')

		.header__part.header__part--zip
			.upload(title="Выбрать изображение")
				svg.upload__icon
					use(xlink:href='/img/sprite.svg#cam')
				.upload__text Изменить фон
				input.upload__input(type="file"  name="bg")



	.header__section.header__bottom.section
		.header__part.header__right
			a.btn.btn--text(href="#cancel")
				span.btn__text Отменить

			a.btn(href="#ok") Сохранить