div.preload-circle__container(id="floatingBarsG")
	div.blockG(id="rotateG_01")
	div.blockG(id="rotateG_02")
	div.blockG(id="rotateG_03")
	div.blockG(id="rotateG_04")
	div.blockG(id="rotateG_05")
	div.blockG(id="rotateG_06")
	div.blockG(id="rotateG_07")
	div.blockG(id="rotateG_08")