extends ../layout

block content
    div.page-container
        div.page-content
            header.header-album(style="background: url(../img/album/bg-album.png) center center no-repeat; background-size:cover;")
                div.black-over
                div.header-album__content
                    div.header-album__user-container
                        div.header-album__user
                            div.header-album__user-avatar
                                img.header-album__user-photo(src="../img/album/album-user.png", alt="фото пользователя")
                            div.header-album__user-name Антон Черепов
                    div.header-album__buttons
                        div.btn.btn--light.btn--expand.btn_album
                            svg.btn__icon
                                use(xlink:href='/img/sprite.svg#home')
                            span.btn__text На главную
                        div.btn.btn--light.btn--expand.btn_album
                            svg.btn__icon
                                use(xlink:href='/img/sprite.svg#edit')
                            span.btn__text Редактировать

                    div.header-album__description
                        div.header-album__title-description Лесные прогулки
                        div.header-album__text-description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum vero ab repudiandae veniam officia, aliquid similique aspernatur, id repellendus laudantium architecto eligendi ipsum, consequuntur cupiditate. Minima vero suscipit, molestiae distinctio.
                div.header-album__about
                    div.header-album__about-side.header-album__about-side_front
                        ul.header-album__about-list
                            li.header-album__about-item 18 фотографий
                            li.header-album__about-item 12 лайков
                            li.header-album__about-item 4 комментария
                    div.header-album__about-side.header-album__about-side_back.hide
                        div.back-content
                            div.header-album__user-container.header-album__user_fix
                                div.header-album__user
                                    div.header-album__user-avatar
                                        img.header-album__user-photo(src="../img/album/album-user.png", alt="фото пользователя")
                                    div.header-album__user-name Антон Черепов
                            div.header-album__title-description Лесные прогулки
                            div.header-album__buttons.header-album__buttons_fix
                                div.btn.btn--light.btn--expand.btn_album
                                    svg.btn__icon
                                        use(xlink:href='/img/sprite.svg#home')
                                    span.btn__text На главную
                            
            div.album-cards
                div.btn.btn--light.btn--expand.btn_album.btn_album-add
                    svg.btn__icon
                        use(xlink:href='/img/sprite.svg#add')
                    span.btn__text Добавить

                    
                .grid.grid--3
                    .grid__item
                        .photo-card
                            a.photo-card__head(href="#404")
                                .photo-card__details
                                    .info.info--light
                                        .info__item
                                            svg.info__icon
                                                use(xlink:href='/img/sprite.svg#comments')
                                            span.info__text 2
                                        .info__item
                                            svg.info__icon
                                                use(xlink:href='/img/sprite.svg#like')
                                            span.info__text 10

                            .photo-card__foot
                                .photo-card__foot-part
                                    a.btn.btn--icon(href="#404"  title="Редактировать")
                                        svg.btn__icon
                                            use(xlink:href='/img/sprite.svg#edit')
                                .photo-card__foot-part
                                    .photo-card__link(href="#404") Название фотографии



                    .grid__item
                        .photo-card
                            a.photo-card__head(href="#404")
                                .photo-card__details
                                    .info.info--light
                                        .info__item
                                            svg.info__icon
                                                use(xlink:href='/img/sprite.svg#comments')
                                            span.info__text 2
                                        .info__item
                                            svg.info__icon
                                                use(xlink:href='/img/sprite.svg#like')
                                            span.info__text 10

                            .photo-card__foot
                                .photo-card__foot-part
                                    a.btn.btn--icon(href="#404"  title="Редактировать")
                                        svg.btn__icon
                                            use(xlink:href='/img/sprite.svg#edit')
                                .photo-card__foot-part
                                    .photo-card__link(href="#404") Название фотографии



                    .grid__item
                        .photo-card
                            a.photo-card__head(href="#404")
                                .photo-card__details
                                    .info.info--light
                                        .info__item
                                            svg.info__icon
                                                use(xlink:href='/img/sprite.svg#comments')
                                            span.info__text 2
                                        .info__item
                                            svg.info__icon
                                                use(xlink:href='/img/sprite.svg#like')
                                            span.info__text 10

                            .photo-card__foot
                                .photo-card__foot-part
                                    a.btn.btn--icon(href="#404"  title="Редактировать")
                                        svg.btn__icon
                                            use(xlink:href='/img/sprite.svg#edit')
                                .photo-card__foot-part
                                    .photo-card__link(href="#404") Название фотографии

                    .grid__item
                        .photo-card
                            a.photo-card__head(href="#404")
                                .photo-card__details
                                    .info.info--light
                                        .info__item
                                            svg.info__icon
                                                use(xlink:href='/img/sprite.svg#comments')
                                            span.info__text 2
                                        .info__item
                                            svg.info__icon
                                                use(xlink:href='/img/sprite.svg#like')
                                            span.info__text 10

                            .photo-card__foot
                                .photo-card__foot-part
                                    a.btn.btn--icon(href="#404"  title="Редактировать")
                                        svg.btn__icon
                                            use(xlink:href='/img/sprite.svg#edit')
                                .photo-card__foot-part
                                    .photo-card__link(href="#404") Название фотографии
                    .grid__item
                        .photo-card
                            a.photo-card__head(href="#404")
                                .photo-card__details
                                    .info.info--light
                                        .info__item
                                            svg.info__icon
                                                use(xlink:href='/img/sprite.svg#comments')
                                            span.info__text 2
                                        .info__item
                                            svg.info__icon
                                                use(xlink:href='/img/sprite.svg#like')
                                            span.info__text 10

                            .photo-card__foot
                                .photo-card__foot-part
                                    a.btn.btn--icon(href="#404"  title="Редактировать")
                                        svg.btn__icon
                                            use(xlink:href='/img/sprite.svg#edit')
                                .photo-card__foot-part
                                    .photo-card__link(href="#404") Название фотографии
                    .grid__item
                        .photo-card
                            a.photo-card__head(href="#404")
                                .photo-card__details
                                    .info.info--light
                                        .info__item
                                            svg.info__icon
                                                use(xlink:href='/img/sprite.svg#comments')
                                            span.info__text 2
                                        .info__item
                                            svg.info__icon
                                                use(xlink:href='/img/sprite.svg#like')
                                            span.info__text 10

                            .photo-card__foot
                                .photo-card__foot-part
                                    a.btn.btn--icon(href="#404"  title="Редактировать")
                                        svg.btn__icon
                                            use(xlink:href='/img/sprite.svg#edit')
                                .photo-card__foot-part
                                    .photo-card__link(href="#404") Название фотографии
                    .grid__item
                        .photo-card
                            a.photo-card__head(href="#404")
                                .photo-card__details
                                    .info.info--light
                                        .info__item
                                            svg.info__icon
                                                use(xlink:href='/img/sprite.svg#comments')
                                            span.info__text 2
                                        .info__item
                                            svg.info__icon
                                                use(xlink:href='/img/sprite.svg#like')
                                            span.info__text 10

                            .photo-card__foot
                                .photo-card__foot-part
                                    a.btn.btn--icon(href="#404"  title="Редактировать")
                                        svg.btn__icon
                                            use(xlink:href='/img/sprite.svg#edit')
                                .photo-card__foot-part
                                    .photo-card__link(href="#404") Название фотографии          
        div.modal 
            form(enctype="multipart/form-data" method="post")
                input(type="file" name="loadImg")
                input(type="submit" value="Отправить")
        div.modal-overlay
        include  ../commons/footer