extends ../layout

block content
	div.page-container
		div.page-content
			header.header-album(style="background: url(../img/album/bg-album.png) center center no-repeat; background-size:cover;")
				div.header-album__content-cotainer
					div.header-album__content.header-album__content_front
						div.header-album__user-container
							div.header-album__user
								div.header-album__user-avatar
									img.header-album__user-photo(src="../img/album/album-user.png", alt="фото пользователя")
								div.header-album__user-name Антон Черепов
						div.header-album__buttons
							div.btn.btn--light.btn--expand.btn_album
								svg.btn__icon
									use(xlink:href='/img/sprite.svg#home')
								span.btn__text На главную
							div.btn.btn--light.btn--expand.btn_album#btn_album_edit
								svg.btn__icon
									use(xlink:href='/img/sprite.svg#edit')
								span.btn__text Редактировать            
						div.header-album__description
							div.header-album__title-description Лесные прогулки
							div.header-album__text-description   Фотографии природы леса, енотов и оленей. Как прекрасно сойти на дальней станции и пройтись по полю босиком. И чтобы никто не беспокоил бродить влюблённым в тишину. Запах мёда, лесных оленей и енотов будоражит нутро.
					div.header-album__content.header-album__content_back
						div.header-album__user-container
							div.header-album__user
								div.header-album__user-avatar
									img.header-album__user-photo(src="../img/album/album-user.png", alt="фото пользователя")  
								div.header-album__user-name Антон Черепов        
						div.header-album__description
										div.form__row
											input.field.field_header-edit(
												type="text"
												name="nameAlbum"
												value="Лесные прогулки"
												)
										div.form__row
											textarea.field.field_header-edit(name="desc").
												Фотографии природы леса, енотов и оленей. Как прекрасно сойти на дальней станции и пройтись по полю босиком. И чтобы никто не беспокоил бродить влюблённым в тишину. Запах мёда, лесных оленей и енотов будоражит нутро.	
						.upload__header-edit
							.upload(title="Выбрать изображение")
								svg.upload__icon
									use(xlink:href='/img/sprite.svg#cam')
								.upload__text Изменить фон
								input.upload__input(type="file" name="bg")
    
				div.header-album__about
						.header__section.header__bottom.section.header-edit-bottom
							.header__part.header__right
								a.btn.btn--text#cancel_edit_header(href="#cancel")
									span.btn__text Отменить
								a.btn(href="#ok") Сохранить
						div.header-album__about-side.header-album__about-side_front
							ul.header-album__about-list
								li.header-album__about-item 18 фотографий
								li.header-album__about-item 12 лайков
								li.header-album__about-item 4 комментария
						div.header-album__about-side.header-album__about-side_back.hide
							div.back-content
								div.header-album__user-container.header-album__user_fix
									div.header-album__user
										div.header-album__user-avatar
											img.header-album__user-photo(src="../img/album/album-user.png", alt="фото пользователя")
										div.header-album__user-name= userName
								div.header-album__title-description Лесные прогулки
								div.header-album__buttons.header-album__buttons_fix
									div.btn.btn--light.btn--expand.btn_album
										svg.btn__icon
											use(xlink:href='/img/sprite.svg#home')
										span.btn__text На главную          
			div.album-cards
				div.header-edit-overlay
				div.btn.btn--light.btn--expand.btn_album.btn_album-add
					svg.btn__icon
						use(xlink:href='/img/sprite.svg#add')
					span.btn__text Добавить
				.grid.grid--lg
					- var photosArray = photos || ['img/album/no_photo.jpg']
					each src in photosArray
						.grid__item
							.photo-card
								a.photo-card__head(href="#404" style="background-image: url(/" + src + "), url(/img/album/no_photo.jpg)")
									.photo-card__details
										.info.info--light
											.info__item
												svg.info__icon
													use(xlink:href='/img/sprite.svg#comments')
												span.info__text 2
											.info__item
												svg.info__icon
													use(xlink:href='/img/sprite.svg#like')
												span.info__text 10
								.photo-card__foot
									.photo-card__foot-part
										a.btn.btn--icon(href="#404"  title="Редактировать")
											svg.btn__icon
												use(xlink:href='/img/sprite.svg#edit')
									.photo-card__foot-part
										.photo-card__link(href="#404") Название фотографии
		include ../commons/footer
	div.modal-container.hide
		div.modal-overlay
			div.modal 
				div.modal__header
					div.modal__header-title Добавить фотографии
					div.modal__header-close
						svg.modal__header-svg
							use(xlink:href='/img/sprite.svg#close') 
				div.modal__title
					span.modal__title-title Название
					span.modal__title-text Как я провёл лето
				div.modal__content
					.header__part.header__part--zip.modal__load-container#img-container
						.upload.modal__load-img(title="Выбрать изображение")
							svg.upload__icon
								use(xlink:href='/img/sprite.svg#cam')
							.upload__text Перетащите фото сюда или 
								span.modal__link-load выберите файл
							input.upload__input(type="file"  name="bg")#file-field
						ul.img-list#img-list
				div.modal__footer
					div.modal__buttons
						a.btn(href="#")#upload Сохранить
						a.btn.btn--text(href="#cancel")
							span.btn__text Отменить                       		