extends ../layout

block content
		div.wrapper
			div.flipper-container
				div.flipper
					div.front
						div.welcome
							div.welcome__title Добро пожаловать
							div.welcome__text Перед вами сервис, который поможет вам организовать свои фотографии в альбомы и поделиться ими со всем миром!
						div.popup
							form.popup__form.popup__form-login(action="")
								.popup__input-container
									label.popup__label(for="email")
										svg.popup__svg
											use(xlink:href='/img/sprite.svg#envelope') 
									input.popup__input(type="email" name="email" placeholder="Электронная почта")

								.popup__input-container
									label.popup__label(for="pass")
										svg.popup__svg
											use(xlink:href='/img/sprite.svg#password') 
									input.popup__input(type="password" name="pass" placeholder="Пароль")
								a(href="#").popup__link.popup__link_forget-pass Забыли пароль?
								div.popup__error.hide  E-mail или пароль не верен
								input.popup__submit#login(type="submit" value = "Войти")
								div.popup__registration Нет аккаунта? 
									a(href="#").popup__link.popup__link_registr Зарегистрироваться
					div.back.back-reg.hide
						div.welcome
								div.welcome__title Регистрация
						div.popup
							form.popup__form.popup__form-registration(action="")
								.popup__input-container
									label.popup__label(for="login")
										svg.popup__svg
											use(xlink:href='/img/sprite.svg#name') 
									input.popup__input(type="email" name="login" placeholder="Имя")

								.popup__input-container
									label.popup__label(for="email")
										svg.popup__svg
											use(xlink:href='/img/sprite.svg#envelope') 
									input.popup__input(type="email" name="email" placeholder="Электронная почта")

								.popup__input-container
									label.popup__label(for="pass")
										svg.popup__svg
											use(xlink:href='/img/sprite.svg#password') 
									input.popup__input(type="password" name="pass" placeholder="Пароль")
								div.popup__promt  Ваши данные остаются строго конфедициальны
								input.popup__submit#registration(type="submit" value = "Создать аккаунт")
								div.popup__registration Уже зарегистрированы? 

									a(href="#").popup__link.popup__link_enter Войти
					div.back.back-pass.hide
						div.welcome
								div.welcome__title Восстановление пароля
						div.popup
							form.popup__form.popup__form-registration(action="")
								div.popup__promt.popup__promt_forget Забыли пароль?
								div.popup__promt  Ничего страшного, введите свой e-mail и мы вышлем вам инсрукции по восстановлению пароля
								.popup__input-container.popup__input-container_forget
									label.popup__label(for="email")
										svg.popup__svg
											use(xlink:href='/img/sprite.svg#envelope') 
									input.popup__input.popup__input_forget-password(type="email" name="email" placeholder="Электронная почта")
								input.popup__submit#recover(type="submit" value = "Восстановить пароль")
								div.popup__registration Вспомнили пароль? 
									a(href="#").popup__link.popup__link_enter Войти
			footer.main-footer 2016 создано командой профессианалов на продвинутом курсе по веб-разработке от Loftschool
