extends ../layout

block content
    .wrapper__main-page
        .main-content
            include ../commons/_header
            include ../commons/_main-content
    include ../commons/footer
    include ../commons/modal-overlay


