include ../layout

block content
    main.search
        h2.title.
            По запросу "Природа" найдено 6 результатов
        div.albums
            div.container
                div.img-box
                    img(src="../img/search/search_img_01.png" alt="Lake").img-box__img
                div.comment
                    a(href="#").comment__avatar
                    div.comment__content
                        p.comment__content__title Путешествие на лодке по озеру
                        include ../../source/images/icons/comments.svg
                        p.comment__count 9
                        include ../../source/images/icons/like.svg
                        p.comment__like 15
                div.album-title
                    include ../../source/images/icons/album.svg
                    p.album-title__text Прогулки по воде
            div.container
                div.img-box
                    img(src="../img/search/search_img_02.png" alt="Camp").search__main__albums__container__wrap-img__img
                div.comment
                    a(href="#").comment__avatar
                    div.comment__content
                        p.comment__content__title Отдых в палатке
                        include ../../source/images/icons/comments.svg
                        p.comment__count 2
                        include ../../source/images/icons/like.svg
                        p.comment__like 22
                div.album-title
                    include ../../source/images/icons/album.svg
                    p.album-title__text Палаточный лагерь
            div.container
                div.img-box
                    img(src="../img/search/search_img_03.png" alt="Horse").search__main__albums__container__wrap-img__img
                div.comment
                    a(href="#").comment__avatar
                    div.comment__content
                        p.comment__content__title Любимые лошадки
                        include ../../source/images/icons/comments.svg
                        p.comment__count 4
                        include ../../source/images/icons/like.svg
                        p.comment__like 32
                div.album-title
                    include ../../source/images/icons/album.svg
                    p.album-title__text Животные
            div.container
                div.img-box
                    img(src="../img/search/search_img_04.png" alt="Mount sea").search__main__albums__container__wrap-img__img
                div.comment
                    a(href="#").comment__avatar
                    div.comment__content
                        p.comment__content__title Мечтательный взгляд вдаль
                        include ../../source/images/icons/comments.svg
                        p.comment__count 9
                        include ../../source/images/icons/like.svg
                        p.comment__like 21
                div.album-title
                    include ../../source/images/icons/album.svg
                    p.album-title__text Пустыня
            div.container
                div.img-box
                    img(src="../img/search/search_img_05.png" alt="Hammock").search__main__albums__container__wrap-img__img
                div.comment
                    a(href="#").comment__avatar
                    div.comment__content
                        p.comment__content__title Я лежу в гамаке, как это прекрасно
                        include ../../source/images/icons/comments.svg
                        p.comment__count 4
                        include ../../source/images/icons/like.svg
                        p.comment__like 14
                div.album-title
                    include ../../source/images/icons/album.svg
                    p.album-title__text Отдых
            div.container
                div.img-box
                    img(src="../img/search/search_img_06.png" alt="Bicycle").search__main__albums__container__wrap-img__img
                div.comment
                    a(href="#").comment__avatar
                    div.comment__content
                        p.comment__content__title Велопутешествие
                        include ../../source/images/icons/comments.svg
                        p.comment__count 2
                        include ../../source/images/icons/like.svg
                        p.comment__like 26
                div.album-title
                    include ../../source/images/icons/album.svg
                    p.album-title__text Дорога