script(src='../javascripts/upload.js' defer)

section.admin__content
    form#uploadForm(enctype='multipart/form-data', action='/admin/works', method='post')
        input(type='text', name='title')#worksTitle.contact-input.contact-input--admin
        input(type='text', name='technology')#worksTech.contact-input.contact-input--admin
        input(type='text', name='link')#worksLink.contact-input.contact-input--admin
        input(type='file', name='userPhoto')#worksFile
        input(type='submit', value='Upload Image', name='submit')
        span#status