.user-page__header {
  padding: 50px 0 0 0;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, rgba(110,110,110,.5), transparent);
  }

  .user-block__name,
  .user-block__desc {
    color: #ffffff;
    text-align: center;
  }
  .user-block__social {
    text-align: center;
  }

  .btn {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .user-block {
    margin: 0 0 50px 80px;
  }
}

.user__main {
  padding: 60px 2.5%;

  .title {
    font-size: 42px;
    font-family: "Panton";
    color: rgb(50, 50, 50);
    font-weight: bold;
    margin-bottom:40px;
  }

}