@media screen and (max-width: 480px){
  .user-wrap {
    .user-page__header {
      .user-block {
        flex-direction: column !important;
        margin-left: 0 !important;

        .user-block__photo {
          width: 55px;
          height: 55px;
          margin-bottom: 10px;
        }
        .user-block__main {
          padding: 0 20px;
        }
      }

      .user-block {
        margin: 0 0 50px 80px;
      }

      .header__bottom {
        padding: 10px 5px;
      }
    }
    .album-card {
      width: 95vw !important;
    }

    .footer__in {
      padding-top: 70px;
      flex-direction: column;
      position: relative;

      .footer__btn-top {
        position: absolute;
        top: 0;
      }
      .footer__part,
      .footer__copyright{
        margin-top: 10px;
        padding: 0;
        text-align: center !important;
      }
    }
  }
}


