extends layout

block content
		div.wrapper
			div.welcome 
				div.welcome__title Добро пожаловать
				div.welcome__text Перед вами сервис, который поможет вам организовать свои фотографии в альбомы и поделиться ими со всем миром!
			div.popup
				form.popup__form(action="")
					.popup__input-container
						label.popup__label(for="mail")
							svg.popup__svg
								use(xlink:href='/img/sprite.svg#envelope') 
						input.popup__input(type="email" name="mail" placeholder="Электронная почта")
					.popup__input-container
						label.popup__label(for="password")
							svg.popup__svg
								use(xlink:href='/img/sprite.svg#password') 
						input.popup__input(type="password" name="password" placeholder="Пароль")
					a(href="#").popup__link.popup__link_forget-pass Забыли пароль?
					input.popup__submit(type="submit" value = "Войти")
					div.popup__registration Нет аккаунта? 
						a(href="#").popup__link Зарегистрироваться
			footer.main-footer 2016 создано командой профессианалов на продвинутом курсе по веб-разработке от Loftschool
