doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/_user.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="/js/all.js" defer)
  body
    block content
