.footer {
	position: relative;
	padding: 20px 0;
	background: #eee url('../img/no_album_cover.jpg') no-repeat  bottom / cover;
	color: $white;

	&:before {
		content: '';
		position: absolute;
		left: 0;  right: 0;
		top: 0;  bottom: 0;
		background: rgba(0,0,0,.7);
	}
}

	.footer__in {
		position: relative;
		display: flex;
	}

		.footer__part {
			display: inline-block;
			vertical-align: middle;
			flex: 1;
			padding: 0 50px;

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
				text-align: right;
			}
		}

		.footer__part--zip {
			flex-shrink: 1;
			flex-grow: 0;
		}


			.footer__btn-top {
				width:  30px;
				height: 30px;
				color: $white;
				opacity: .7;

				&:hover {
					color: $white;
				}

				&  .btn__icon {
					width:  100%;
					height: 100%;
					max-width:  none;
					max-height: none;
				}
			}

			.footer__desc {}

			.footer__copyright {
				color: rgba($white, .4);
			}