.field {
	padding: .625em 1.35em;
	border: 1px solid transparent;
	border-radius: 20px;
	outline: none;
	background: #fff;
	font: inherit;
	line-height: 1;
	transition:
		color .5s,
		border-color .5s;

	&:focus {
		border-color: $blue;

		& + .input-complex__side {
			color: $blue;
		}
	}
}



textarea.field {
	vertical-align: top;
	min-height: 90px;
	font: inherit;
	resize: none;
}


.field--bordered {
	border-color: $gray;
}




.input-complex {
	position: relative;
	border-radius: 20px;
}

	.input-complex__side {
		position: absolute;
		top: 0;  bottom: 0;
		left: 0;
		width: 40px;
		padding-right: 5px;
		border-top-left-radius:    inherit;
		border-bottom-left-radius: inherit;
		color: $gray;
		text-align: right;
		transition: color .5s;

		&:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			height: 100%;
		}
	}

		.input-complex__icon {
			display: inline-block;
			vertical-align: middle;
			width:  20px;
			height: 20px;
			color: inherit;
			fill: currentColor;
		}

	.input-complex__field {
		width: 100%;
		padding-left: 45px;
	}