.photo-card {
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
	background: #fff;
	overflow: hidden;
}

	.photo-card__head {
		position: relative;
		display: block;
		background: #eee  url('../img/no_photo.jpg')  no-repeat center / cover;
		color: $white;
		overflow: hidden;

		&:before {
			content: '';
			display: block;
			padding-bottom: 70%;
			background: transparent;
			transition: background .5s;
		}


		&:hover {
			&:before {
				background: rgba(0,0,0,.25);
			}

		}
	}
		.photo-card__details {
			position: absolute;
			left: 20px;  bottom: 20px;
		}
	.photo-card__body {
		padding: 15px 20px;
		background: #fff;
	}
	.photo-card__foot {
		display: flex;
		padding: 10px 20px;
		background: #F6F6F6;
		color: $textColor;
	}

		.photo-card__foot-part {
			&:last-child {
				margin-left: auto;
			}
		}


			.photo-card__link-album {
				color: rgba($textColor, .8);
				font-weight: 600;
				transition: color .5s;

				&:hover {
					color: $blue;
				}
			}



.photo-details {
	display: flex;
	align-items: center;
}

	.photo-details__side {
		padding-right: 20px;
	}

		.photo-details__ava {
			position: relative;
			display: block;
			width:  50px;
			height: 50px;
			border-radius: 50%;
			background: #eee  url('../img/default_avatar.jpg')  no-repeat center / cover;
			overflow: hidden;

			&:before {
				content: '';
				position: absolute;
				left: 0;  right: 0;
				top: 0;  bottom: 0;
				border-radius: inherit;
				background: rgba(0,0,0,.25);
				opacity: 0;
				transition: opacity .5s;
			}

			&:after {
				content: '';
				position: absolute;
				left: 0;  right: 0;
				top: 0;  bottom: 0;
				width:  20px;
				height: 20px;
				margin: auto;
				background: url('../img/icons/more.svg')  no-repeat  center;
				opacity: 0;
				transition: opacity .5s;
			}

			&:hover {
				&:before {
					opacity: 1;
				}
				&:after {
					opacity: 1;
				}
			}
		}


	.photo-details__main {
		overflow: hidden;
	}

		.photo-details__title {
			margin-bottom: 10px;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}

		.photo-details__info {}