.modal__add-album{
  display: flex;
  flex-direction: column;
}


.wrapper__modal {
  flex: 1 0 auto;
}

.add-albums__header {
  margin-bottom: 40px;
}

.wrapper-inputs {
  padding-left: 50px;
  padding-right: 18px;
}

.wrapper-input__name {
  display: flex;
  padding-bottom: 18px;
  align-items: center;

}

.add-album__name {
  font-size: 16px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  color: rgb( 50, 50, 50);
  margin-right: 20px;
}

.add-album__name-input {
  border-color: rgba(0, 0, 0, 0.1);
  flex: 1 1 auto;
}

.wrapper-input__description {
  padding-bottom: 18px;
  display: flex;
}

.add-album__description {
  font-size: 16px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  color: rgb( 50, 50, 50);
  margin-right: 20px;
}
.add-album__textarea {
  border-color: rgba(0, 0, 0, 0.1);
  //max-width: 512px;
  height: 120px;
  flex: 1 1 auto;

}

.wrapper-input__upload {
  //text-align: center;
  //vertical-align: top;
  display: flex;
  align-items: center;
}

.user-block__upload {
  //display: inline-block;
  display: block;
  margin-right: 18px;
}

.btn__upload {
  display: block;
}

.wrapper-input__text {
  font-size: 14px;
  font-family: "Proxima Nova Lt", sans-serif;
  font-style: italic;
  color: rgba(50, 50, 50, 0.8);
  width: 200px;
  //display: inline-block;
  display: block;
}

.add-album__footer {}


.add-album__btn-save {}

.add-album__btn-cancel {}

.add-album__btn-delete {}