.user-block {
	position: relative;
	display: flex;
	align-items: center;
}

	.user-block__photo {
		position: relative;
		flex-shrink: 0;
		width:  126px;
		height: 126px;
		margin-right: 50px;
		border: 2px solid #fff;
		border-radius: 50%;
		box-shadow: 0 0 3px rgba(0,0,0,.15);
		background: #eee  url('../img/no_photo.jpg')  no-repeat top center / cover;
		overflow: hidden;
		transition: border-color .5s;
		user-select: none;
	}


	.user-block__main {
		flex-grow: 1;
		max-width: 600px;
	}

		.user-block__name {
			margin-bottom: 10px;
			font-family: Panton, sans-serif;
			font-size: 21px;
			font-weight: bold;
			line-height: 1;
			text-shadow: 1px 1px 0 rgba(0,0,0,.15);

			&:last-child {
				margin-bottom: 0;
			}
		}


		.user-block__desc {
			margin-bottom: 22px;
			opacity: .8;
			word-break: break-all;
		}


		.user-block__socal {}





.user-block--sm {}

	.user-block--sm  .user-block__photo {
		width:  56px;
		height: 56px;
		margin-right: 22px;
	}

	.user-block--sm  .user-block__name {
		font-size: 16px;
	}




.user-block--edit {}

	.user-block--edit  .user-block__photo {
		&:before {
			content: '';
			position: absolute;
			left: 0;  right: 0;
			top: 0;  bottom: 0;
			background: rgba(0,0,0,.8);
		}

		&:hover {
			border-color: $blue;
		}
	}

		.user-block--edit  .user-block__photo-edit {
			position: absolute;
			left: 0;  right: 0;
			top: 0;  bottom: 0;
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			padding: 10px;
			border-radius: inherit;
			white-space: normal;
		}