.modal-container.hide
	.modal-overlay

		.modal.modal__add-album
			.wrapper__modal
				.modal__header.add-albums__header
					.modal__header-title Добавить альбом
					.modal__header-close
						svg.modal__header-svg
							use(xlink:href='/img/sprite.svg#close')
				.wrapper-inputs
					.wrapper-input__name
						label.add-album__name Название
						input.field.add-album__name-input(
							type="text"
							placeholder=""
						)
					.wrapper-input__description
							label.add-album__description Описание
							textarea.field.add-album__textarea(
							placeholder=""
						)
					.wrapper-input__upload
						.user-block.user-block--sm.user-block__upload
							.user-block__photo
						.btn.btn--clear.upload
							.btn__text Загрузить обложку
							input.upload__input(type="file"  name="bg")
						span.wrapper-input__text (файл должен быть размером не более 1024 КБ)
					.modal__notification
						.notice.notice--error 156

			.modal__footer.add-album__footer
				.modal-pane
					.modal-pane__part
						a.btn.add-album__btn-save(href="#")#upload Сохранить
						a.btn.btn--text.add-album__btn-cancel(href="#cancel")
							span.btn__text Отменить
