footer.user__footer
    div.user__footer__wrap
        p.user__footer__wrap__text-left.
            Перед вами сервис, который поможет вам организовать свои фотографии в альбомы и поделиться со всем миром!
        div.user__footer__wrap__arrow
            include ../../public/img/icons/top.svg
        p.user__footer__wrap__text-right.
            2016 | Создано командой профессионалов на продвинутом курсе по веб разработке от Loftschool