header.user__header
    section.user__header__top
        div.user__header__top__avatar
            img.user__header__top__avatar__img(src="../img/user/user_avatar.png" alt="avatar")
        div.user__header__top__breef
            h1.user__header__top__breef__title.
                Александра Соколова
            p.user__header__top__breef__subtitle.
                Я веб разработчик разработчик. Мне 24 года. Люблю путешествия, кодинг, фриланс, и активный отдых.
            div.user__header__top__breef__social-buttons
                a.user__header__top__breef__social-buttons__link(href="#")
                    include ../../public/img/icons/soc_vk.svg
                a.user__header__top__breef__social-buttons__link(href="#")
                    include ../../public/img/icons/soc_fb.svg
                a.user__header__top__breef__social-buttons__link(href="#")
                    include ../../public/img/icons/soc_twitter.svg
                a.user__header__top__breef__social-buttons__link(href="#")
                    include ../../public/img/icons/social_google.svg
                a.user__header__top__breef__social-buttons__link(href="#")
                    include ../../public/img/icons/soc_email.svg
        div.user__header__top__button-home
            include ../../public/img/icons/home.svg
    section.user__header__search
        div.user__header__search__wrap
            input.user__header__search__wrap__input(type='text' placeholder="Исследовать мир")