header.header
    section.header__top
        div.header__top__avatar
            img.header__top__avatar__img(src="../img/user/user_avatar.png" alt="avatar")
        div.header__top__breef
            h1.header__top__breef__title.
                Александра Соколова
            p.header__top__breef__subtitle.
                Я веб разработчик разработчик. Мне 24 года. Люблю путешествия, кодинг, фриланс, и активный отдых.
            div.social-buttons
                a.social-buttons__link(href="#")
                    include ../../public/img/icons/soc_vk.svg
                a.social-buttons__link(href="#")
                    include ../../public/img/icons/soc_fb.svg
                a.social-buttons__link(href="#")
                    include ../../public/img/icons/soc_twitter.svg
                a.social-buttons__link(href="#")
                    include ../../public/img/icons/social_google.svg
                a.social-buttons__link(href="#")
                    include ../../public/img/icons/soc_email.svg
        a(href="#").button-home
            include ../../public/img/icons/home.svg
            span.button-home__hover На главную
    section.header__search
        div.header__search__wrap
            input.header__search__wrap__input(type='text' placeholder="Исследовать мир")