.user__main {
  padding: 60px;

  &__title {
    font-size: 42px;
    font-family: "Panton";
    color: rgb(50, 50, 50);
    font-weight: bold;
    line-height: 0.5;
    z-index: 11;
  }

  &__albums {
    display: flex;
    flex-wrap: wrap;

    &__item {
      width: 280px;
      height: 320px;
      overflow: hidden;
      margin: 0 20px 20px 0;
      border-radius: 2px;
      box-shadow: 1px 2px 2px 2px #eee;
      cursor: pointer;

      &__name {
        font-size: 16px;
        font-family: "ProximaNova";
        color: rgb(50, 50, 50);
        z-index: 43;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 20px;
      }
    }
  }
}