.user__footer {
  background: url("../img/user/user_footer.png") no-repeat 50% 100%;
  background-size: cover;
  position: relative;
  &__wrap {
    background: rgba(49, 48, 49, .9);
    width: 90%;
    height: 100%;
    display: flex;
    padding: 0 5%;

    &__text-left {
      font-size: 16px;
      font-family: "ProximaNova";
      color: rgb(255, 255, 255);
      line-height: 1.5;
      z-index: 6;
      width: 40%;
    }

    &__arrow {
      display: flex;
      align-items: center;
      width: 10%;
      position: absolute;
      left: 45%;
      top: 9%;
      opacity: 0.7;
      cursor: pointer;
    }
    &__text-right {
      font-size: 16px;
      font-family: "ProximaNova";
      color: rgba(255, 255, 255, 0.4);
      line-height: 1.5;
      text-align: right;
      z-index: 5;
      width: 40%;
      margin-left: 15%;

    }
  }
}