.user__header {
  height: 300px;
  width: 100%;
  background: url("../img/user/user_header.png") no-repeat;
  background-size: cover;

  @media screen and (max-width: 480px) {
    .user__header__top {
      flex-direction: column;
      justify-content: center;
      &__avatar {
        width: 50px;
        height: 50px;
        min-width: 50px;
      }
      &__breef {
        align-items: center;
      }
    }
    .user__header__search {
      justify-content: center;
      align-items: center;
      &__wrap {
        &__input {
          margin: 0;
        }
      }
    }
  }
  &__top {
    background: linear-gradient(to right, rgba(101, 101, 108, .5), rgba(246, 247, 252, .5));
    display: flex;
    align-items: center;
    height: 240px;

    &__avatar {
      width: 7.5rem;
      height: 7.5rem;
      border-radius: 50%;
      overflow: hidden;
      border: 2px solid #ffffff;
      margin: 0 0 0 6%;
      min-width: 120px;
    }

    &__breef {
      display: flex;
      flex-direction: column;
      margin-left: 3%;

      &__title {
        font-size: 21px;
        font-family: "Panton";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1;
        z-index: 65;
      }

      &__subtitle {
        font-size: 16px;
        font-family: "ProximaNova";
        color: rgba(255, 255, 255, 0.8);
        line-height: 1.5;
        z-index: 64;
      }
      &__social-buttons {
        &__link {
          text-decoration: none;
          svg {
            cursor: pointer;
            path {
              fill: rgba(255, 255, 255, .7);
            }
            &:hover {
              path {
                transition: .5s;
                fill: rgba(255, 255, 255, 1);
              }
            }
          }
        }
      }
    }
    &__button-home {
      position: absolute;
      top: 20px;
      right: 40px;
      background: #fff;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      box-shadow: -1px 1px 2px 2px #d1d2d6;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      .header__home {
        path {
          fill:#a0a09f;
        }
      }
    }
  }
  &__search {
    height: 60px;
    background: rgba(229,229,229, .9);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &__wrap {
      &::before {
        content: ' ';
        position: absolute;
        width: 15px;
        height: 15px;
        background: url("../img/icons/search.svg") no-repeat;
        margin: 15px 0 0 15px;
        opacity: .8;
      }
      &__input {
        padding-left: 45px;
        font-size: 16px;
        margin-right: 60px;
        font-family: "ProximaNova";
        color: rgba(50, 50, 50, 0.6);
        line-height: 1.313;
        z-index: 53;
        width: 335px;
        height: 40px;
        border: none;
        border-radius: 20px;
      }
    }
  }
}